body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
}

a {
 text-decoration: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrap {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

/*Меню*/
.main-navigation {
  display: flex;
  text-transform: uppercase;
}

/*Логотип*/
.main-header {
  background: #eeeeee;
  padding: 49px 0 18px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 200px;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:focus {
  opacity: 0.3;
}

/*Панель меню*/
.site-navigation,
.user-navigation {
  display: flex;
  /*flex-direction: row;*/
  padding: 0;
  margin: 26px 0 0;
  list-style: none;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:last-child {
  margin-right: 0;
}

.site-navigation {
  width: 640px;
  margin-right: auto;
}

.main-navigation a {
  color: inherit;
}

.main-navigation a:hover,
.main-navigation a:focus, {
  color: #fb565a;
}

.main-navigation a:active,
.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*Преимущества*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-list li {
  width: 300px;
  margin-right: 100px;
}

.features-list li:nth-child(3n) {
  margin-right: 0;
}

.feature-title {
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.feature-subtitle {
  font-weight: 400;
  line-height: 1.5;
  color: #283136;
}

/*Кнопки*/
/*Красная*/
.feature-btn {
  line-height: 1.13;
  color: ffffff;
  text-transform: uppercase;
}

.feature-btn:active {
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.btn-red {
  background-color: #fb565a;
}

.btn-red:hover,
.btn-red:focus {
  background-color: #e74246;
}

.btn-red:active {
  background-color: #d7373b;
}

/*Зеленая*/
.btn-green {
  background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
  background-color: #00bc6c;
}

.btn-green:active {
  background-color: #00aa62;
}

/*Желтая*/
.btn-yellow {
  background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
  background-color: #eab534;
}

.btn-yellow:active {
  background-color: #e5a722;
}

/*О нас*/
.about {
  padding: 40px 0 73px;
  display: flex;
  justify-content: space-between;
}

.about-info {
  width: 660px;
  margin-top: 34px;
}

.about-title {
  font-size: 45px;
  font-weight: 500;
  width: 660px;
  line-height: 1;
  margin-top: 34px;
}

.about-descr {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
  width: 660px;
  margin-top: 34px;
}

.about-order-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-transform: uppercase;
}

.about-order-list {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #283136;
}

.about-statistic {
  width: 360px;
}

.about-statistic-title {
  font-weight: 700;
  text-transform: uppercase;
}

.about-statistic-table-value {
  font-size: 45px;
  width: 33,333333;
  border-collapse: collapse;
  padding: 0;
  padding-top: 54px;
  padding-bottom: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.about-statistic-table-name {
  font-size: 16px;
  font-weight: 400;
  color: #283136;
  line-height: 1;
}

/*Логотипы партнёров*/
.partners {
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
  padding: 46px 0 44px;
  margin-bottom: 80px;
}

.partners-logos {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.partners-logos li {
  width: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  position: relative;
}

.partners-logos li:not(:nth-child(4n))::after {
  content: "";
  width: 2px;
  height: 52px;
  background: #eeeeee;
  position: absolute;
  top: 50%;
  margin-top: -26px;
  right: -21px;
}

.partners-logos li:nth-child(4n) {
  margin-right: 0;
}

.contact {
  padding: 54px 0;
  position: relative;
  z-index: 10;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: green;
  z-index: -1;
}

.contact-info {
  width: 320px;
  padding: 49px 50px 47px;
  background: #ffffff;
}

.contact-title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-address {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.contact-phone{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

/*Подвал*/
.main-footer {
  display: flex;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 69px;
}

.footer-social {
  display: flex;
  align-items: center;
  width: 380px;
  flex-wrap: wrap;
  margin: 0 20px 0 0;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 12px;
}

.footer-social li:nth-child(4n) {
  margin-right: 0;
}

.footer-social a {
  display: block;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  background: #e1e1e1;
  position: relative;
  font-size: 0;
}

.footer-social a::after {
  content: "social-button";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: no-repeat 50% 50%;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #e74246;
}

.footer-social a:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.1);
}

.footer-social a::after {
  opacity: 0.3;
}

.footer-social .social-button-vk::after {
  background-image: url(../img/icon/icon-vk.svg);
}

.footer-social .social-button-fb::after {
  background-image: url(../img/icon/icon-fb.svg);
}

.footer-social .social-button-insta::after {
  background-image: url(../img/icon/icon-insta.svg);
}

/*Текст*/
.footer-slogan-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  margin: 5px 0 11px;
}

.footer-slogan-discount {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #444444;
  margin: 0;
}

/*Каталог*/
.catalog {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  display: flex;
  width: 100%;
  font-size: 55px;
  line-height: 1;
  background: #eeeeee;
}

.filters {
  width: 260px;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  text-transform: uppercase;
}

.catalog-templates-sites {
  width: 760px;
  margin-left: auto;
}

/*Сложный фильтр стоимость*/
.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #eeeeee;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #eeeeee;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #eeeeee;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #eeeeee;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #eeeeee;
  border: 8px solid #eeeeee;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #eeeeee;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #eeeeee;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #eeeeee;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #eeeeee;
}

/*Фильтр товаров*/
.features {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  padding: 80px 0;
  margin: 0;
  align-items: baseline;
  border-bottom: 2px solid #eeeeee;
}

.filter-option {
  font-weight: 400;
  line-height: 1.25;
  color: #283136;
}

.filter-option {
  list-style: none;
}

.filter-input-radio:disabled + label,
.filter-input-chekbox:disabled + label {
  opacity: 0.3;
}

/*Кнопка*/
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-item {
  width: 360px;
  line-height: 1.13;
  margin-bottom: 33px;
}

.subtitle-item {
  font-weight: 500;
  color: #283136;
}

.subtitle-btn {
  background-color: #fb565a;
}

.subtitle-btn:hover,
.subtitle-btn:focus {
  background-color: #e74246;
}

.subtitle-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*Сортировка*/
.sort {
  width: 200px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: #000000;
  margin: 0 0 0 auto;
  text-transform: uppercase;
}

.sort-title {

  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
}

.sort-type {
  padding: 0;
  margin: 0 0;
  list-style: none;
}

.sort-type li {
  margin: 0 26px 0 0;
}

.sort-type li:last-child {
  margin: 0;
  }

.sort-direction {
  width: 90px;
  text-transform: uppercase;
  list-style: none;
}

/*Нумерация страниц*/
.pagination {
  display: flex;
  width: 443px;
  list-style: none;
  margin: 27px 0 60px;
  padding: 11px;
}

.pagination a {
  width: 50px;
  height: 50px;
  border: solid 3px #dbdbdb;
}

.pagination-next {
  width: 260px;
  background-color: #dbdbdb;
}

.pagination-next a {
  min-width: 260px;
  padding: 13px;
  background-color: #dbdbdb;
}
