.body {

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  color: #000000;
}

a {
 text-decoration: none;
}

/*Меню*/
.main-navigation {
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
}

/*Логотип*/
.main-header-logo a {
  width: 160px;
  height: 65px;
  opacity: 0.75;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  opacity: 0.75;
}

/*Панель меню*/
.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.88;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  opacity: 0.3;
}

 {
  color: #fb565a;
}

/*Преимущества*/
.features-list {
  list-style: none;
}

.feature-item h3 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.25;
  color: #000000;
}

.feature-subtitle {
  font-family: Roboto;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.5;
  color:#283136;
}

/*Иллюстрации*/
.illustration-1,
.illustration-2,
.illustration-3 {
  width: 300px;
  height: 146px;
}


/*Кнопки*/
/*Красная*/
.btn-red {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: medium;
  line-height: 1.13;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #fb565a;
}

a.btn-red:hover,
a.btn-red:focus {
  background-color: #e74246;
}

a.btn-red:active {
  background-color: #d7373b;
}

/*Зеленая*/
.btn-green {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: medium;
  line-height: 1.13;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #00ca74;
}

a.btn-red:hover,
a.btn-red:focus {
  background-color: #00bc6c;
}

a.btn-red:active {
  background-color: #00aa62;
}

/*Желтая*/
.btn-yellow {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: medium;
  line-height: 1.13;
  color: #ffffff;
  width: 160px;
  height: 50px;
  background-color: #efc84a;
}

a.btn-red:hover,
a.btn-red:focus {
  background-color: #eab534;
}

a.btn-red:active {
  background-color: #e5a722;
}

/*Подвал*/
.main-footer {
  font-family: "Roboto";
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
}

.footer-social {
  list-style: none;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #e74246;
}

.footer-social a:active {
  background-color: #d7373b;
}

.social-button-vk {
  width: 26px;
  height: 15px;
}

.social-button-fb {
  width: 12px;
  height: 22px;
}

.social-button-insta {
  width: 21px;
  height: 21px;
}

/*Текст*/
.footer-slogan-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}
.footer-slogan-discount {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: #444444;
}

/*Каталог*/
.page-title {
  font-family: Roboto;
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
  color: #000000;
}

/*Фильтр товаров*/
.grid,
.features {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  color: #000000;
}

.filter-option {
  font-family: Roboto;
  font-size: 16px;
  font-weight: regular;
  line-height: 1.25;
  color: #283136;
}

.filter-option {
  list-style: none;
}

.filter-option a:hover,
.filter-option a:focus {
  color: #283136;
}

.filter-option a: {
  opacity: 0.3;
}

/*Кнопка*/
.catalog-item {
  list-style: none;
}
